<!DOCTYPE html>
<html lang='zh'>
<head>
	<meta charset='UTF-8'>
	<title>Internal Error</title>
	<meta name='viewport' content='initial-scale=1' />
	<style>
html {
	background-color: #F4F4F4;
}
body {
	padding: 0;
	margin: 0;
}
.code {
	display: block;
	width: 90%;
	margin: auto;
	text-align: left;
	background-color: #393939;
	color: #FFF;
	padding: 8px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 16px;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
	</style>
</head>
<body>
	<h2 style='text-align: center;'>Internal Error</h2>
	<hr />
	<div style='text-align: center'><p>如果你知道去哪﹐全世界都会为你让路</p></div>
	<p style='opacity:0'>但Plume不让</p>
	<pre class='code'>{{ trace }}</pre>
</body>
</html>
